.body {
    margin: 0;
    border-width: 0;
    box-sizing: border-box;
    height: 100vh;
    scroll-behavior: smooth;
  }


  .title-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgb(235 199 149 / 80%),rgb(40 43 48 / 80%)), url('../img/img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

  .title-container h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: aliceblue;
    font-family: Montserrat, sans-serif;
}

.title-container h4 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    justify-content: center;
    font-style: italic;
    color: aliceblue;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.cobalt-intro {
  background-image: linear-gradient(rgb(117 100 77 / 80%), rgb(88 90 93 / 80%));
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
}

.intro-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.intro-header {
  margin-bottom: 2rem;
}

.intro-header h1 {
  font-size: 3rem;
  font-family: Montserrat, sans-serif;
  color: aliceblue;
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.intro-text p {
  font-size: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  color: aliceblue;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.two-column-layout {
  display: flex;
  flex: 1;
}

.intro-gallery {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 2rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.image-credit {
  color: #ddd;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "IBM Plex Sans", sans-serif;
}

.intro-text {
  flex: 1;
  color: aliceblue;
  overflow-y: auto;
}

@media (width <= 768px) {
  .two-column-layout {
      flex-direction: column;
  }

  .intro-gallery {
      margin-right: 0;
      margin-bottom: 1rem;
  }

  .intro-text {
      overflow-y: visible;
  }
}
  
  .map-container {
    position: sticky;
    top: 0; 
    height: 100vh;
    width: 100vw; 
    z-index: -1;
  }
  
  .map {
    height: 100%;
  }


  .imageslide1 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.imageslide1 .gallery-img {
  height: auto;
  width: 100%;
}

#sources {
  text-overflow: clip;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}


  .slide-section {
    position: relative;
    margin-top: 100vh;
    pointer-events: none;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }
  
  .slide {
    margin-top: 90vh;
    margin-bottom: 90vh;
    margin-left: auto;
    margin-right: 2rem;
    padding: 1rem;
    box-shadow: -0.5rem 0 1rem rgba(0 0 0 / 50%);
    border: 1px solid gray;
    border-radius: 0.5rem;
    pointer-events: initial;
    z-index: 1;
    width: 25rem;
    background-color: rgb(255 255 255 / 50%);
    color: black;
  }

  .slide h2{
    font-family: Montserrat, sans-serif;
  }

  .slide p{
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .slide:first-child {
    margin-top: 0;
  }
  
  .slide:last-child {
    margin-bottom: 40vh;
  }
  

  
  